@import "../stylesColor.scss";

.Tweet .link {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100vw;
  padding: 1em 0;
  border-bottom: 1px solid $BorderColor;
  color: $White;
}

.Tweet .individual-tweet:nth-child(1) {
  border-top: 1px solid $BorderColor;
}

.Tweet img {
  width: 3em;
  border-radius: 50%;
  margin: 0 1em;
}

.Tweet .content-container {
  overflow: hidden;
}

.Tweet .user-info-container {
  display: flex;
  justify-content: space-between;
}

.Tweet .user-info-container div {
  flex: 0.5;
  max-width: 5em;
  overflow-wrap: break-word;
}

.Tweet .user-info-container h2,
.Tweet .user-info-container h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.Tweet h2 {
  font-size: 0.9rem;
}

.Tweet .user-info-container h3 {
  color: $TweetIcon;
  font-weight: 400;
  font-size: 0.85rem;
  margin-left: 0.5em;
}

.Tweet .user-info-container .date-dots-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  min-width: 7em;
  color: $TweetIcon;
}

.Tweet .user-info-container p {
  font-size: 0.85rem;
  text-align: right;
  margin: 0 0.5em;
}

.Tweet .description-interaction-container {
  margin-right: 1.5em;
}

.Tweet .interactions-container {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}

.Tweet .description {
  line-height: 1.25em;
}

.Tweet .interactions-container li {
  display: flex;
  margin-top: 1em;
  align-items: center;
  color: $TweetIcon;
}

.Tweet .interactions-container li p {
  margin-left: 0.5em;
  font-size: 0.85rem;
}
