@import "../stylesColor.scss";

.ViewTweet {
  margin: 1em;
}

.ViewTweet img {
  width: 3em;
  border-radius: 50%;
}

.ViewTweet .profile-container {
  display: flex;
  justify-content: space-between;
}

.ViewTweet .profile-container .more-btn {
  color: $GreyText;
}

.ViewTweet .profile-container .name-pic-container {
  display: flex;
}

.ViewTweet .profile-container h2 {
  font-size: 0.9rem;
}

.ViewTweet .profile-container h3 {
  color: $TweetIcon;
  font-weight: 400;
  font-size: 0.85rem;
  margin-left: 0.5em;
}
