$Black: #000;
$White: #fff;

$CreateTweetBtn: rgb(29, 155, 240);
$IconBtn: rgb(231, 233, 234);
$TweetIcon: rgb(113, 118, 123);
$SpecialText: rgb(29, 155, 240);
$GreyText: rgb(113, 118, 123);

$BorderColor: rgb(47, 51, 54);
